<div class="event-container" (click)="onClick()">
    <img
        class="event-image"
        [src]="'http://localhost:8080/images/' + this.event.imageAttachmentReadOnlyDTO.savedName"
        [alt]="event.title + ' Image'"
    />

    <div class="event-details">
        <h2>Title: {{ event.title }}</h2>
        <p class="owner">By: {{ event.ownerReadOnlyDTO.username }}</p>

        <p class="description"> {{ event.description }}</p>
        <div class="info">
            <p class="category">Category: {{ event.category }}</p>
            <time>
                Date: {{ event.date | date: 'MM/dd/YYYY' }} at {{ event.date | date: 'h:mm a' }}
            </time>
            <p>Price: {{ event.price | currency }}</p>
            <p class="seats">
                Seats: <span class="booked">{{ event.bookedSeats }}</span>/<span class="max">{{ event.maxSeats }}</span>
            </p>
            @if (isEventFull()) {
                <p class="full-notice">This event is full.</p>
            }
        </div>
    </div>
</div>
