.login-card {
    background-color: #3d2057; /* Card background */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-width: 400px;
    /*width: 100%;*/
    color: #fff;
}

.login-card h2 {
    margin-bottom: 1.5rem;
    color: #c3b3d8; /* Title color */
}

.signup-form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #c3b3d8; /* Label color */
    text-align: left;
}

.signup-form input {
    width: 95%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #2b193d;
    color: #c3b3d8;
}

.signup-form input::placeholder {
    color: #a191bb;
}

.signup-form button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #6c3ab7;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #7d4cd4; /* Slight hover effect */
}

.signup-form p {
    margin-top: 1rem;
    color: #c3b3d8;
}

.signup-form a {
    color: #a191bb;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}
