/* Event Controls */
.event-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.event-controls button {
    font: inherit;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.event-controls button.active {
    background-color: #022042;
}

.event-controls button:hover,
.event-controls button:active {
    background-color: #022042;
}

.event-controls button:disabled {
    background-color: #022042;
    cursor: not-allowed;
}

/* Event List */
#events {
    padding: 1rem;
}

#events h2 {
    text-align: center;
    color: #343a40;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#events ul {
    list-style: none;
    padding: 0;
}

#events li {
    padding: 1rem;
    margin-bottom: 1rem;
    /*border: 1px solid #ddd;*/
    /*border-radius: 8px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#events li h3 {
    margin: 0 0 0.5rem 0;
    color: #495057;
}

#events li p {
    margin: 0.5rem 0;
    color: #6c757d;
}

/* No Events Styles */
.no-events {
    text-align: center;
    color: #6c757d;
    margin-top: 2rem;
    padding: 2rem 1rem;
}

.no-events-image {
    width: 300px;
    height: auto;
    margin-bottom: 1rem;
}

.no-events-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}
