<div class="signup-card">
    <h2>Register</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="signup-form">
        <div>
            <label for="username">Username</label>
            @if (form.get('username')?.touched) {
                @if (form.get('username')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.username.required"/>
                } @else if (form.get('username')?.hasError('usernameExists')) {
                    <app-error [errorMessage]="errorMessages.username.inUse"/>
                } @else if (form.get('username')?.hasError('minlength') || form.get('username')?.hasError('maxlength')) {
                    <app-error [errorMessage]="errorMessages.username.invalid"/>
                }
            }
            <input type="text" id="username" placeholder="Enter your username" formControlName="username" />
        </div>

        <div>
            <label for="email">Email</label>
            @if (form.get('email')?.touched) {
                @if (form.get('email')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.email.required"/>
                } @else if (form.get('email')?.hasError('email')) {
                    <app-error [errorMessage]="errorMessages.email.invalid"/>
                } @else if (form.get('email')?.hasError('emailExists')) {
                    <app-error [errorMessage]="errorMessages.email.inUse"/>
                }
            }
            <input type="email" id="email" placeholder="Enter your email" formControlName="email" />
        </div>

        <div>
            <label for="password">Password</label>
            @if (form.get('password')?.touched) {
                @if (form.get('password')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.password.required" />
                } @else if (form.get('password')?.hasError('pattern')) {
                    <app-error [errorMessage]="errorMessages.password.invalid"/>
                }
            }
            <input type="password" id="password" placeholder="Enter your password" formControlName="password" />
        </div>

        <div>
            <label for="confirmPassword">Confirm Password</label>
            @if (form.get('confirmPassword')?.touched && form.hasError('passwordMismatch')) {
                <app-error [errorMessage]="errorMessages.general.passwordMismatch"/>
            }
            <input type="password" id="confirmPassword" placeholder="Confirm your password" formControlName="confirmPassword" />
        </div>

        <div>
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" placeholder="Enter your first name" formControlName="firstname" />
        </div>

        <div>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" placeholder="Enter your last name" formControlName="lastname" />
        </div>

        <div>
            <label for="role">Role</label>
            <select id="role" formControlName="role">
                @for ( role of roles; track role) {
                    <option [value]="role">{{ role }}</option>
                }
            </select>
        </div>


        <button type="submit">Sign Up</button>
        <a routerLink="/login"><p>Back to Login</p></a>
    </form>
</div>
