<div class="event-card">
    <h2>Create Event</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="event-form">

        <div>
            <label for="title">Event Title</label>
            @if (form.get('title')?.touched) {
                @if (form.get('title')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.title.required"/>
                } @else if (form.get('title')?.hasError('maxlength')) {
                    <app-error [errorMessage]="errorMessages.title.maxLength"/>
                }
            }
            <input type="text" id="title" placeholder="Enter event title" formControlName="title" />
        </div>

        <div>
            <label for="description">Description</label>
            @if (form.get('description')?.touched) {
                @if (form.get('description')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.description.required"/>
                } @else if (form.get('description')?.hasError('maxlength')) {
                    <app-error [errorMessage]="errorMessages.description.maxLength"/>
                }
            }
            <textarea id="description" placeholder="Enter description" formControlName="description"></textarea>
        </div>

        <div>
            <label for="date">Date & Time</label>
            @if (form.get('date')?.touched) {
                @if (form.get('date')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.date.required"/>
                } @else if (form.get('date')?.hasError('dateError')) {
                    <app-error [errorMessage]="errorMessages.date.dateError"/>
                }
            }
            <input type="datetime-local" id="date" formControlName="date" />
        </div>

        <div>
            <label for="location">Location</label>
            @if (form.get('location')?.touched && form.get('location')?.hasError('required')) {
                <app-error [errorMessage]="errorMessages.location.required"/>
            }
            <input type="text" id="location" placeholder="Enter event location" formControlName="location" />
        </div>

        <div>
            <label for="price">Price</label>
            @if (form.get('price')?.touched) {
                @if (form.get('price')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.price.required"/>
                } @else if (form.get('price')?.hasError('min')) {
                    <app-error [errorMessage]="errorMessages.price.min"/>
                }
            }
            <input type="number" id="price" placeholder="Enter price" formControlName="price" />
        </div>

        <div>
            <label for="maxSeats">Max Seats</label>
            @if (form.get('maxSeats')?.touched) {
                @if (form.get('maxSeats')?.hasError('required')) {
                    <app-error [errorMessage]="errorMessages.maxSeats.required"/>
                } @else if (form.get('maxSeats')?.hasError('min')) {
                    <app-error [errorMessage]="errorMessages.maxSeats.min"/>
                } @else if (form.get('maxSeats')?.hasError('wholeNumber')) {
                    <app-error [errorMessage]="errorMessages.maxSeats.wholeNumber"/>
                }
            }
            <input type="number" id="maxSeats" placeholder="Enter max seats" formControlName="maxSeats" />
        </div>

        <div>
            <label for="category">Category</label>
            @if (form.get('category')?.touched && form.get('category')?.hasError('required')) {
                <app-error [errorMessage]="errorMessages.category.required"/>
            }
            <select id="category" formControlName="category">
                @for (category of categories; track category) {
                    <option [value]="category">{{ category }}</option>
                }
            </select>
        </div>

        <div>
            <label for="imageFile">Image (optional)</label>
            @if (form.get('imageFile')?.hasError('invalidImage')) {
                <app-error [errorMessage]="errorMessages.imageFile.invalidImage"/>
            }
            <input type="file" id="imageFile" (change)="onFileChange($event)" />
        </div>

        <button type="submit">Create Event</button>
    </form>
</div>
